# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# local build directories
/build/

# UE5 project generated artifacts
/SpaceshipSimulator/Binaries/
/SpaceshipSimulator/Intermediate/
/SpaceshipSimulator/Saved/
/SpaceshipSimulator/DerivedDataCache/
/SpaceshipSimulator/.vs/
/SpaceshipSimulator/.vscode/
/SpaceshipSimulator/.ignore
/SpaceshipSimulator/Plugins/SpaceshipSim/Binaries/
/SpaceshipSimulator/Plugins/SpaceshipSim/Intermediate/
/SpaceshipSimulator/Plugins/UnrealClaude/

# Local scripts output
sonar-findings.md

# custom directory
/.ignore/
/tasks/

# Claude Code
.claude/
CLAUDE.md
